@import 'bootstrap';

$primary-color: orange;

.gray {
	background-color:hsla(0, 0%, 95%, 1);
}

/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.viz {
	border: 2px solid pink;
}

html, body {
	font-size: calc(16px + 0.5vw);
}

h1, h2 ,h3,h4,h5,h6 {
	font-family: 'Inter var';
	font-weight: 700;
	letter-spacing: -0.025em;
}

a:link, a:visited {
	color: darken($primary-color,10);
	&:hover {
		color: $primary-color;
	}
}

#profile-pic {
	// border-radius: 15px;
}

.text h1 {
	font-size: calc(80px + 0.5vw);
	line-height: 1em;
}

ul {
  list-style-type: disc; /* or your preferred bullet style */
  padding-left: 20px; /* Adjust the padding to create space between bullet and text */
  li {
  	margin-bottom: 0.75em;
  }
}