@import 'bootstrap';

$gray: #f2f2ff;
// $link-color: darken(#ff6100, 25%);
// $link-color: navy;
// LCARS variables
$lcars-orange: #FF9A00;
$lcars-lavender: #9996FF;
$lcars-purple: $lcars-lavender;
$lcars-pink: #CD98CD;
$lcars-salmon: #CE6564;
$lcars-white: #FFFFFF;
// $lcars-grey: #222222;
$lcars-grey: hsla(0, 0%, 10%, 1);
$lcars-grey-lite: hsla(0, 0%, 70%, 1);

$primary-color: #ff6100;
$link-color: darken($gray,50%);;

.gray {
	background-color: $gray;
}
.color-primary {
	color: $primary-color;
}

/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.viz {
	border: 2px solid pink;
}

html, body {
	font-size: calc(14px + 0.5vw);
	color: hsla(0, 0%, 10%, 0.8);
	font-weight: 300;
	letter-spacing: 0.0em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter var';
	font-weight: 600;
	// letter-spacing: -0.0025em;
	color: black;
}
h1.hero {
	font-weight: 700;
	letter-spacing: -0.0025em;
	font-size: calc(20px + 3vw);
}
.superheadline {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
	color: $lcars-lavender;
}

a:link, a:visited {
	color: $link-color;
	opacity: 0.75;
	text-decoration: none;
	font-weight: 500;
	&:hover {
		color: black;
		// text-decoration: underline;
	}
}

header {
	.header-logo {
		font-size: calc(20px + 0.75vw);
		font-weight: 600;
		color: black;
	}
	.fa-linkedin-in {
		color: black;
		&:hover {
	    color: $link-color;
		}
	}
}

.text h1 {
	font-size: calc(80px + 0.5vw);
	line-height: 1em;
}

ul {
  list-style-type: disc; /* or your preferred bullet style */
  padding-left: 20px; /* Adjust the padding to create space between bullet and text */
  li {
  	margin-bottom: 0.25em;
  }
}

.caption {
	font-size: 12px;
	color: hsla(0, 0%, 60%, 1);
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.emoji a {
	text-decoration: none;
} 

.text-column {
	h3 {
		column-span: all;
	}
	column-count: 1;
	@media only screen and (min-width : $break-lg) { 
		column-count: 2;
		li {
			break-inside: avoid;
			page-break-inside: avoid;
		}
	}
}


// .content-text {
// 	padding-left: 25vw !important;
// 	padding-right: 25vw !important;
// }

.img-fluid {
	@media only screen and (min-width : $break-md) { 
		width: 100%;
	}
}

.button {
	// font-size: calc(16px + 0.5vw);
	background-color: lighten($lcars-lavender,10%);
	display: inline-block;
	padding: 4px 15px;
	font-weight: 600;
	border-radius: 50px;
	color: darken($lcars-lavender,70%);
	&:hover {
		background-color: $lcars-purple;
	}
}

.papers {
	font-size: 80%;
	li {
		margin-bottom: 1em;
	}
}

// DARK MODE

@mixin darkmode {
    html, body {
        background-color: $lcars-grey;
        // background-color: black;
        color: $lcars-purple;
    }    
    h1, h2, h3, h4, h5, h6 {
    	color: $lcars-orange;
    }
    a:link, a:visited {
    	color: $lcars-pink;
    	&:hover {
    		color: $lcars-orange;
    		text-decoration: underline;
    	}
    }

		header {
			.header-logo {
				color: $lcars-lavender;
			}
			.fa-linkedin-in {
				color: $lcars-pink;
				&:hover {
			    color: $lcars-orange;
				}
			}
		}    
		.gray {
			background-color: lighten(black,15%);
		}
    .content {
      background-color: black;
    	// background-color: hsla(0, 0%, 40%, 0.25);
    }
    .caption {
    	color: $lcars-lavender;
    }
}

#portrait {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
    @include darkmode;
}

.responsive-indicator {
  z-index: 1000;
  display: none;
  background-color: red;
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  padding: 3px 8px;
  a:link, a:visited {
      color: black;
      text-decoration: underline;
  }
}