@import 'bootstrap';

$primary-color: #ff6100;

.gray {
	// background-color:hsla(0, 0%, 95%, 1);
	// background-color: lighten(#f2f2ff,1%)
	background-color: #f2f2ff;
}

/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.viz {
	border: 2px solid pink;
}

html, body {
	font-size: calc(14px + 0.5vw);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter var';
	font-weight: 700;
	letter-spacing: -0.025em;
}

a:link, a:visited {
	color: darken($primary-color,5);
	text-decoration: none;
	&:hover {
		color: $primary-color;
		text-decoration: underline;
	}
}

#profile-pic {
}

.text h1 {
	font-size: calc(80px + 0.5vw);
	line-height: 1em;
	// display: none;
}

ul {
  list-style-type: disc; /* or your preferred bullet style */
  padding-left: 20px; /* Adjust the padding to create space between bullet and text */
  li {
  	margin-bottom: 0.5em;
  }
}

.caption {
	font-size: 12px;
	color: hsla(0, 0%, 60%, 1);
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.emoji a {
	text-decoration: none;
}